.App {
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.App.day_clear {
  background-image: url(../public/media/day-clear.png);
}
.App.day_cloudy {
  background-image: url(../public/media/day-cloudy.png);
}
.App.day_fog {
  background-image: url(../public/media/day-fog.png);
}
.App.day_rain {
  background-image: url(../public/media/day-rain.png);
}
.App.day_snowy {
  background-image: url(../public/media/day-snowy.png);
}
.App.day_storm {
  background-image: url(../public/media/day-storm.png);
}
.App.day_very_cloudy {
  background-image: url(../public/media/day-very-cloudy.png);
}
.App.night_clear {
  background-image: url(../public/media/night-clear.png);
}
.App.night_cloudy {
  background-image: url(../public/media/night-cloudy.png);
}
.App.night_fog {
  background-image: url(../public/media/night-fog.png);
}
.App.night_rain {
  background-image: url(../public/media/night-rain.png);
}
.App.night_snowy {
  background-image: url(../public/media/night-snowy.png);
}
.App.night_storm {
  background-image: url(../public/media/night-storm.png);
}
.App.night_very_cloudy {
  background-image: url(../public/media/night-very-cloudy.png);
}

.first_section {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


input {
  margin-top: 10%;
  width: 80%;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: rgba(244, 244, 244, 0.8);
  line-height: 40px;
  font-family: Lato;
  font-size: 18px;
  padding-left: 5%;
  border: 2px solid gray;
}

::placeholder {
  color: gray;
}

h1,
h2,
h3,
p {
  width: 100%;
  text-align: center;
}

.city_name {
  font-size: 24px;
  margin: 5%;
}

.temperature {
  font-size: 56px;
  margin: 0;
}

.weather_describe {
  font-size: 18px;
  margin: 1%;
}

.max_temperature,
.min_temperature {
  width: 50%;
  color: rgb(54, 54, 54);
  margin-top: 0%;
}

.max_temperature,
.min_temperature > p {
  font-size: 16px;
}

.max_temperature_element, .min_temperature_element {
  margin: 5px;
}


.second_section {
  box-sizing: border-box;
  padding:3%;
  width: 100%;
  height: 55%;
  display: grid;
  gap: 3% 3%;
  grid-template-columns: 60% auto;
  grid-template-rows: 25% auto;
}
.second_section>div {
  background-color: rgba(233, 233, 233, 0.26);
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
p {
  margin: 0;
  width: auto;
}
.sunrise_sunset, .humidity, .wind, .pressure, .sensed_temperature, .visibility_on_the_road {
  font-weight: bold;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:  0 10%;
}

.sunrise, .sunset, .humidity {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.sunrise, .sunset{
  height:50%;
}

.sunrise_sunset {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 16px;
  flex-wrap: wrap;
  padding:  0 10%;
}

.sunrise>p, .sunset>p {
  margin: 0;
  width: auto;
}

.humidity {
  grid-area: 2 / 1 / 3 / 2;
}

.wind {
  grid-area: 1 / 2 / 3 / 3;
  flex-wrap: wrap;
  padding: 10%;
}
.wind>p {
  width: 100%;
}

.pressure {
  grid-area: 3 / 1 / 4 / 3;
}
.pressure>p, .sensed_temperature>p, .visibility_on_the_road>p {
  margin: auto auto auto 5%;
  width: auto;
}

.pressure>span, .sensed_temperature>span, .visibility_on_the_road>span {
  margin: 0 auto;
  width: auto;
}

.sensed_temperature {
  grid-area: 4 / 1 / 5 / 3;

}

.visibility_on_the_road {
  grid-area: 5 / 1 / 6 / 3;
}

.iconify {
  width: 30px;
  height: 30px;
  margin-left: 0; 
}




