@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&family=Lato:wght@300;400;700&display=swap');

body {
  height:100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
